@model DiscountType
@{
    ViewData["Title"] = "Update Discount Type";
}
<link href="~/css/form.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<style>
    .validatin-dngare {
        color: red;
    }
</style>
<div class="form-flex">
    <div class="headtitle">
        <h3>Creat DiscountType</h3>
    </div>
    <div class="form-content">
        <div class="hiderrcont" style="display: flex;">
            <h4 style="color: #177ae0 !important;border-bottom:solid #177ae0 1px  ;"><i class="fas fa-cogs"></i> Genral detailes</h4>
        </div>
        <form asp-action="Update" asp-controller="DiscountType">
            <input type="hidden" asp-for="Id"/>
            <div class="form-group-2">
                <div class="form-groupflex">
                    <div class="form-label">
                        <label asp-for="Name">DiscountType Name</label>
                    </div>
                    <div class="form-input">
                        <input type="text" asp-for="Name" placeholder=" DiscountType Name..." />
                    </div>
                    <span class="validatin-dngare" asp-validation-for="Name"></span>
                </div>
                <div class="form-groupflex">
                    <div class="form-label">
                        <label asp-for="DiscountValue">DiscountType Value</label>
                    </div>
                    <div class="form-input">
                        <input type="text" asp-for="DiscountValue" placeholder="DiscountType Value..." />
                    </div>
                    <span class="validatin-dngare" asp-validation-for="DiscountValue"></span>
                </div>
            </div>

            <div class="submit-buuton">
                <button type="submit" class="submit1">
                    Next step<i class="fas fa-arrow-right" style="padding-left:8px; "></i>
                </button>
            </div>

        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />

}