<link href="~/css/finish.css" rel="stylesheet"/>
@{
    ViewData["Title"] = "Creat Finish";
}
<div class="form-flex">
    <div class="headtitle">
        <h3>Finish Supplier</h3>
    </div>

    <div class="finish-content">
        <div style="width: 100%; border-bottom: solid rgb(55, 54, 63) 2px;">
            <div class="hiderrcont" style="display: flex;">
                <h4><i class="fas fa-cogs" style="padding: 0px 5px;"></i> Genral detailes</h4>
                <h4><i class="fas fa-image" style="padding: 0px 5px;"></i> Supllier Image</h4>
                <h4 style="color: #177ae0 !important;border-bottom:solid #177ae0 1px  ;"><i class="fas fa-check-circle" style="padding: 0px 5px;"></i>finish</h4>
            </div>
        </div>

        <div class="content-succes">
            <div class="content-text">
                <h2 style="display: flex; justify-content: center; padding: 10px 0px; color: green;">
                    <i class="fas fa-check"></i><i class="fas fa-check"></i>
                </h2>
                <h1 style="display: flex; justify-content: center; padding: 5px 0px; color: white;">Congratulations !</h1>
                <p style="display: flex; justify-content: center; padding: 5px 0px; color: rgb(142, 139, 149);">Your Product has been successfully added!</p>
            </div>
        </div>

        <div class="submit-buuton" style="display: flex;align-items: center; justify-content: space-between;">
            <a class="previous"> <i class="fas fa-arrow-left"></i>previous</a>
            <a asp-action="Index" type="submit" class="submit1">
                Next step<i class="fas fa-arrow-right" style="padding-left:8px; "></i>
            </a>
        </div>
    </div>
</div>
