@model SearchVM

<form asp-action="GetName">
    <button type="submit" style="outline:none;border:none;"><i class="fas fa-search" style="position: absolute;left: 10px; top: 13px; color: #525b63 ;"></i></button>
    <input class="searchinput"asp-for="SearchValue" type="search" placeholder=" Search By Name..." />
</form>

