body .content .rightside .form-flex {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #262d34;
    margin-top: 20px;
}

    body .content .rightside .form-flex .finish-content {
        width: 95%;
    }


.content-succes {
    width: 100%;
    display: flex;
    justify-content: center;
}


.headtitle {
    width: 100%;
    background-color: #22282e;
}

    .headtitle h3 {
        color: #545c62;
        font-size: 20px;
        padding: 10px 10px;
    }


.hiderrcont {
    width: 450px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

    .hiderrcont h4 {
        color: #77b5f5;
        word-wrap: normal;
        padding: 10px 0px;
    }


.submit-buuton {
    width: 100%;
    height: 70px;
    position: relative;
}

.submit1 {
    position: absolute;
    right: 10px;
    top: 15px;
}

button {
    color: white;
    background-color: #007aff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 6px 0 rgba(28,132,238, .5);
    font-size: 15px;
    transition: .4s;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

    button:hover {
        transform: scale(1.05);
    }


.previous {
    color: white;
    background-color: #007aff;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 6px 0 rgba(28,132,238, .5);
    font-size: 15px;
    transition: .4s;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    .previous:hover {
        transform: scale(1.05);
    }
