@model Incentive
@{
    ViewData["Title"] = "Update Incentive";
}
<link href="~/css/form.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

<style>
    .validatin-dngare {
        color: red;
    }
</style>
<div class="form-flex">
    <div class="headtitle">
        <h3>Update Incentive</h3>
    </div>
    <div class="form-content">
        <div class="hiderrcont" style="display: flex;">
            <h4 style="color: #177ae0 !important;border-bottom:solid #177ae0 1px  ;"><i class="fas fa-cogs"></i> Genral detailes</h4>
        </div>
        <form asp-action="Update" asp-controller="Incentive">
            <div class="custom-picker" style="width: 100%;">
                <label> Incentive Date</label>
                <input type="date" asp-for="IncentiveDate" id="styledDate" placeholder="Select Date" style="color: white;">
                <span class="validatin-dngare" asp-validation-for="IncentiveDate"></span>
            </div>
            <div class="form-input" style="width:100%">
                <label asp-for="IncentiveValue">Incentive</label>
                <input asp-for="IncentiveValue" />
            </div>
            <div class="form-input" style="width:100%">
                <label asp-for="EmployeeId">Employee</label>
                <select style="margin-top:5px" class="catigory" asp-for="EmployeeId" asp-items="@ViewBag.Employes">
                </select>
            </div>
            <div class="form-input" style="width:100%">
                <label asp-for="IncentiveTypeId">Dscount Type</label>
                <select style="margin-top:5px" class="catigory" asp-for="IncentiveTypeId" asp-items="@ViewBag.IncentiveTypes">
                </select>
            </div>
            <div class="form-groupflex" style="width:100%;">
                <div class="form-label">
                    <label asp-for="Description">Incentive Description</label>
                </div>
                <div class="form-input">
                    <textarea id="w3review" asp-for="Description" class="sumarry">At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.></textarea>
                </div>
                <span class="validatin-dngare" asp-validation-for="Description"></span>
            </div>


            <div class="submit-buuton">
                <button type="submit" class="submit1">
                    Next step<i class="fas fa-arrow-right" style="padding-left:8px; "></i>
                </button>
            </div>

        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        flatpickr("#styledDate", {
            altInput: true,
            altFormat: "F j, Y",
            dateFormat: "Y-m-d",
        });
    </script>
}

